<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout ::site-head">
<title>Klaser gier</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" media="all" href="../../css/klaser.css" th:href="@{/css/klaser.css}" />
</head>


<body>

  <header th:replace="layout :: site-header" />

  <h2>Dublety</h2>
 <div>
    <h2 th:text="#{title.list}" style="display: inline;">Lista gier</h2>
  </div>
  
  <div class="table-responsive" th:unless="${#lists.isEmpty(gamesAll)}">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nazwa</th>
          <th>Wydawca</th>       
          <th>Nosnik</th>
          <th>PEGI</th>
          <th>Cena nabycia</th>
          <th>Data nabycia</th>
          <th>Status</th>
          <th>Operacje</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="game : ${gamesDublety}">
          <form action="#" th:action="@{/gry}" th:object="${game}" method="post">
          <td th:text="${game.numerKatalogowy}"></td>
          <td th:text="${game.nazwa}"></td>
          <td th:text="${game.wydawca}"></td>
          <td th:text="${game.nosnik}"></td>
          <td th:text="${game.PEGI}"></td>
          <td th:text="${{game.cenaNabycia}}"></td>
          <td th:text="${{game.dataNabycia}}"></td>
          <td th:text="#{${'klaser.status.' + game.status}}"></td>
          <td>
            <button class="btn btn-danger" type="submit" name="remove" th:value="${game.numerKatalogowy}" th:text="#{klaser.remove}">Usuń</button>
            
            <a href="gra.html" th:href="@{|/gry/${game.numerKatalogowy}|}" ><button class="btn btn-info" type="button" th:text="#{klaser.edit}"></button></a>              
          </td>
          </form>
        </tr>
      </tbody>
    </table>
  </div>
  <footer th:replace="layout :: site-footer" />

</body>

</html>